.bg-box {
  width: 468px;
  height: 265px;
  background-color: green;
  background-image: url("./lamp.png"), url("./grass.png"),
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png"),
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.webp");
  background-position: top, bottom, right, left, center;
  background-size: 30px 50px, 60px 100px, 30px 30px, 30px 30px, 250px 150px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
}
